/* 테마 스타일 */
pre[data-theme*=" "] {
  background-color: #f7f6f3 !important;
}

pre[data-theme*=" "] code {
  background-color: transparent !important;
  color: var(--shiki-light) !important;
}

pre[data-theme*=" "] code span {
  color: var(--shiki-light) !important;
}

.dark pre[data-theme*=" "] {
  background-color: var(--shiki-dark-bg) !important;
}

.dark pre[data-theme*=" "] code {
  background-color: transparent !important;
  color: var(--shiki-dark) !important;
}

.dark pre[data-theme*=" "] code span {
  color: var(--shiki-dark) !important;
}

/* 줄번호 스타일 */
[data-rehype-pretty-code-figure] code {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] [data-line]::before {
  counter-increment: line;
}

[data-line-numbers] > [data-line]::before {
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: #9d9d9f;
}
